body {
  background-color: black;
  color: white;
}

/* signup page css*/
.form_wrapper {
  /* border: 1px solid red; */
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_container {
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
}

.heading {
  text-align: center;
  font-size: 2rem;
  padding: 5px;
  margin: 5px;
}

input {
  color: white;
  display: block;
  width: 20vw;
  min-width: fit-content;
  height: 50px;
  padding-left: 10px;
  margin: 20px 0;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
}

button {
  border: 3px solid yellow;
  display: block;
  width: 50%;
  margin: 20px auto;
  margin-left: 60px;
  background-color: blue;
}


/* home page styling */

.home_container{
/* border: 2px solid yellow; */
}

.cards_container{
  /* border: 2px solid red; */
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10vh;
}

/* card styling */
.card_cont{
  width: 18vw;
  height: fit-content;
  border: 2px solid white;
  border-radius: 10px ;
  margin: 20px;
}

.img_cont{
  width:100%;
  height:250px ;
  background-color: white;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.card_body{
  /* border: 2px solid yellow; */
  padding: 10px 10px 0;
}

.rating{
  display: flex;
  justify-content: space-between;
}

.shop_btn{

}

/* cart page styling */

.cart_cont{
  border: 1px solid yellow;
}