body {
  background-color: black;
  color: white;
}

/* navbar styling */

.nav_link{
    text-decoration: none;
    color: white;
}

.nav_link:hover{
    text-decoration: none;
    color: rgb(185, 174, 174);
    /* font-size: 1.2rem; */
}

.is_active{
  font-size: 1.2rem;
  color: rgb(185, 174, 174);
}

nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid white;
    position: sticky;
}

.brand_name{
    /* border: 1px solid green; */
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 1.6rem;
}

.nav_items{
     /* border: 1px solid yellow; */
     margin-right: 35px;
}

.item{
     /* border: 1px solid blueviolet; */
     margin: 5px;
     margin-right: 20px;
     font-weight: 500;
     font-size: 1.1rem;
     cursor: pointer;
}


/* signup page css*/
.form_wrapper {
  /* border: 1px solid red; */
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_container {
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
}

.heading {
  text-align: center;
  font-size: 2rem;
  padding: 5px;
  margin: 5px;
}

input {
  color: white;
  display: block;
  width: 20vw;
  min-width: fit-content;
  height: 50px;
  padding-left: 10px;
  margin: 20px 0;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
}

button {
  /* border: 3px solid yellow; */
  /* display: block; */
  width: 70%;
  margin: 20px auto;
  /* margin-left: 60px; */
  /* background-color: blue; */
}

/* home page styling */

.home_container {
  /* border: 2px solid yellow; */
}

.cards_container {
  /* border: 2px solid red; */
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10vh;
}

/* card styling */
.card_cont {
  width: 18vw;
  height: fit-content;
  border: 2px solid white;
  border-radius: 10px;
  margin: 20px;
}

.img_cont {
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.card_body {
  /* border: 2px solid yellow; */
  padding: 10px 10px 0;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.price{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prdt_count{
  width: 40%;
  /* border: 1px solid yellow; */
   display: flex;
  justify-content: center;
   /* align-items:first baseline; */

}

.inc_icon{
  font-size: 1.5rem;
  margin: 0 5px;
  cursor: pointer;
}

.shop_btn {
}

/* cart page styling */

.cart_cont{
  /* border: 1px solid yellow; */
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
   margin-top: 5vh;
}

.inner_cart_cont{
   /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}
.cart_card_container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
}

.checkout_div{
  width: 25vw;
  height: 20vh;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 20px;
  /* margin: 30px auto; */
  border-radius: 10px;
  background-color: white;
  color: black;
  /* position: absolute; */
  /* right: 0; */
  /* top: 0; */
}

.buy_btn{
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  margin-top: 20px ;

}

.buy_btn:hover{
  background-color: transparent;
  color: black;
}
